DISCORD_BOT_TOKEN=
PROXY_API_KEY=
PROXY_BASE_URL=https://openrouter.ai/api/v1
PROXY_MODEL_NAME=google/gemma-4-31b-it:free
GOOGLE_API_KEY=
GOOGLE_CSE_ID=
TAVILY_API_KEY=
PYTHONUNBUFFERED=1

# PROXY_BASE_URL=https://openai.api.proxyapi.ru/v1
# PROXY_MODEL_NAME=gemini/gemini-2.5-flash-lite